<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>bramble</title>
	
	<link rel="stylesheet" href="/s/default.css" type="text/css" media="screen">
	
	<script src="http://www.google.com/jsapi"></script>
	
	<script>
	  // Load jQuery
	  google.load("jquery", "1");
	</script>
	
</head>
<body>
    
    
    <div id="container">
        
        <div id="navigation">
			<ul>
				<li><a href="/">the_dashboard</a></li>
				<li><a href="/ticket/create">create_ticket</a></li>
				<li><a href="/control/">control_panel</a></li>
				<li><a href="/hours/">log_hours</a></li>
			</ul>
        </div>
        
        
        {% block content %}{% endblock %}
        
    </div>
    
</body>
</html>
