{% extends "base.html" %}

{% block content %}

<script type="text/javascript" src="/j/jquery.validate.js"></script>

<script>
	$(document).ready(function(){
		$("#comment_form").validate();
	});
</script>

<h1>Create a New Ticket</h1>

<form method=post id="comment_form">
	
	<table>
		
		<style type="text/css" media="screen">

		</style>
			
		<tr>
			<td><label for="summary">Summary</label></td>
			<td><input type="text" name="summary" value="Enter a quick one line summary" size="57" /></td>
		</tr>
		
		<tr>
			<td valign="top"><label for="description">Description</label></td>
			<td><textarea name="description" cols="50" rows="12"></textarea></td>
		</tr>
		
		<tr>
			<td><label for="email">Your Email</label></td>
			<td><input type="text" name="email" size="32"  id="email" class="required email" />
					<span id="invalid_email" style="background:#FF6;border:1px solid #FF0;color:black;padding:4px;font-weight:bold">please enter a valid email address</span>
				</td>
		</tr>
		
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="Create" /></td>
		</tr>
		
		
	</table>
    
    
</form>

{% endblock %}